# Entornos virtuales
.venv/
.venv_tf/
venv/
env/

# Cachés de Python y notebooks
__pycache__/
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store

# Datos pesados del dataset
smiles/lfwcrop_color/
*.ppm